.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Lebih fleksibel */
  gap: 20px; /* Jarak antar item */
}

.dashboard-item {
  background-color: #f5a7a7;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-item a {
  text-decoration: none;
  color: #100d0d;
  font-weight: bold;
  margin: 5px;
}

.dashboard-item a:hover {
  color: #007bff;
}

.p {
  margin: 5px;
  padding: 2px;
}

/* Pastikan body dan html memenuhi tinggi layar */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Wrapper untuk seluruh konten di atas footer */
.container {
  flex: 1; /* Membuat konten lainnya fleksibel, memenuhi sisa ruang */
}

/* Aspirasi Section */
.aspiration {
  padding: 60px 20px 20px;
  background-color: #fff;
  text-align: center;
}

.aspiration h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.aspiration form {
  max-width: 600px;
  margin: 0 auto;
}

.aspiration textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

.aspiration input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.aspiration input[type="submit"]:hover {
  background-color: #555;
}

/* Content Section */
.content-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.content-box {
  flex: 1;
  min-width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box h1 {
  margin-bottom: 10px;
  font-size: 22px;
}

.content-box p {
  font-size: 16px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Responsif untuk layar kecil */
@media (max-width: 600px) {
  .dashboard-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); /* Ukuran kolom lebih kecil di HP */
  }
}
